*{
	margin:0px;
	padding: 0px;
}
body{
background: rgb(2,0,36);
background: -webkit-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,121,97,1) 43%, rgba(45,189,218,1) 100%);
background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,121,97,1) 43%, rgba(45,189,218,1) 100%);
background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(9,121,97,1) 43%, rgba(45,189,218,1) 100%);
font-family: verdana;
}
h1{
	color: yellow ;
}
h3{
	color: white;
}

#header{
margin: auto;
width: 500px;

}

ul, ol{
	list-style: none;
	font-family: monospace;

}

.list li a{
	background-color: black;
	color: white;
	text-decoration: none;
	padding:10px 15px;
	display: block;
}
.list li a:hover{
	background-color: grey;

}
.list>li{
 float: right;
 padding: 10px;
}
.list li ul{
	display:none;
	position:absolute;

}

.list li:hover>ul{
	display:block;
	position: relative;
	
}

a{
	text-decoration: none;
	color:#fff;
}

.btn-menu{
	
	display:block;
	padding: 20px;
	
}
.menu-bar{
	width: 20%;
	min-width: 300px;
	display:inline-block;
	

}
.menu-bar .menu-vertical{
	width: 100%
}

.menu-bar .menu-vertical li a{
	background-color: black;
	color: white;
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 3px 10px;
	
}

.menu-bar .menu-vertical li a:hover{
	background-color: grey;
	color: black;

}

.menu-bar .menu-vertical ul{
	display: none;
}
.menu-bar .menu-vertical li:hover>ul{
	display: block;
	position:relative;
	text-indent: 20px;
}

.menu-bar .menu-vertical ul li a{
	background: black; 
	color: white;
}

.caja-content{
	background-color: grey;
	opacity: 0.5;
	display: inline-block;
	width: 1500px;
	height: 1000px; 
	float: right;

}
.caja-content h3{
	
	color: white;
	text-align: center;
	line-height: 600px;
	
}